# GCP 서비스 계정 키 (절대 유출 금지)
*.json
gcp_ssh_key

# 테라폼 관련 파일 (로컬 설정 및 상태 파일)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# OS 및 기타 설정 파일
.DS_Store
Thumbs.db
.vscode/

# Ansible 관련 파일
ansible/inventory/group_vars/all.yml